/* ЛОГО сайту */
.logo {
    margin-right: 93px;

}

.logo-firs-part {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    color: #2196F3;
}

.logo-second-part {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    color: #000000;
}

.logo-second-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    color: #FFFFFF;
}