:root {
    --main-color: #212121;
    --second-color: ;
    --accent-color: ;
    --pre-title-case: ;
    --button-first-color:;
    --button-second-color: ;
    --first-color-icon: #AFB1B8;
    --second-color-icon: #FFFFFF;
}